@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
}

footer {
    width: 100%;
    background-color: black;
    overflow: auto;
}

.content-icons {
    display: flex;
    justify-content: center;
    align-items: center;

}

.imgcenter {
    text-align: center;

}

.imgcenter img{
    width: 4.2rem;
    height: 3.8rem;
    padding: 0;
    margin: 0;

}


.img-main-container img{
    border-radius: 50%;
    width: 90px;
    height: 90px;
    padding-left: 30px;
}

#seta_left {
    height: 30px;
    width: 30px;
}

.container {
    padding: 6rem 12rem;
    
}

.container h2{
    margin-bottom: 10px;
}

.container img {
    padding-right: 10px;
}

.container-bottom {
    display: flex;
    justify-content: flex-end;
    font-family: "Inter", sans-serif;
    padding: 1rem 0;
    margin: 0px;
}

.grid-cols {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.container-bottom img {
    padding: 0;
    margin: 0;
    width: auto;

}

.img-main-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-bottom h1 {
    margin: 0 0.614rem;
    font-size: 1.3rem;
    font-weight: bold;
    font-family: "inter", sans-serif;
}

.container-bottom p {
    margin: 0;
    font-size: 1rem;
    font-family: "Public Sans Web", sans-serif,sans-serif;

}

.content-icons {
    display: flex;
    justify-content: space-around;

}

.explorer {
    color: white;
    display: flex;
    text-align: center;
    justify-content: center;
}
.explorer label {
    margin-right: 5px;
    
}

.container_rodapes {
    display: center;
    background-image: url('images/mulher.png');
    background-size: cover;
    width: 100%;

 }

.texto_rodapes{
    color: white;
    padding: 58.500px 19.500px;
    margin: 50.094px 122px;

 }

.texto_rodapes img {
    border-radius: 55%;
    transform: rotate();
}

.texto_rodapes h1{
    color: white;
    margin-top: 6rem;
    font-size: 80px;
    font-family: sans-serif;
    width: 40%;

 }
 
.texto_rodapes h4 {
    color: white;
    padding: 5rem 0rem;
    font-size: 20px large;
    font-family: "Public Sans Web", sans-serif;
    font-weight: normal;
    width: 50%;
}

.texto_rodapes h3 {
    color: white;
    padding: 1rem 0rem;
    font-size: 25px;
    font: bold;
    font-family: Arial;
}

.explorar_rotacion {
    display: flex;
    align-items: center;
    width: 1rem;
    height: 1rem;
}

.explorar_rotacion img {
    margin-top: 6px;
    width: 20px;
    height: 20px;
    padding: 1px 0.6rem;
    transform: rotate(-45deg);
}

#Search_placehoder {
    padding-left: 10px;
}

#Search_placehoder input {
    border: 1;
}

#Menu-Bar {
    color: white;

}
#Menu-Bar label {
    padding: 0 0.8rem;
}


.contanier_noticias {
    display: flex ;
    align-items: center ;
    justify-content: space-between;

}

.contanier_titulos {
    display: inline-flex; 
    justify-content: space-around;
    align-items: center;

}


#contenier_news a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

#images_pricipal {
    display: inline-flex;
    align-items: center;

}


.images_not {
    display: flex;
    align-items: center;
    justify-content: center;
}

.images_not a {
    padding: 0.55rem;
}

#images_segunda {
    display: grid;
    margin: 0;
    padding: 0;    
}

.all_container_noticias {
    height: auto;
    padding: 39px 19.500px;
    display: grid;
    justify-content: center;
    align-items: center;
}

#titulo1{
    font-size: 48px;
    font-family: "Inter", sans-serif;
    font-weight: bold;
}

#contenier_news a p {
    font-size: 22.4px;
    font-family: "Inter", sans-serif;
    margin-right: 8.96px;
}

#contenier_news a {
    align-items: center;
    text-decoration: none ;
    color: black;
    font-weight: bold;
}
#contenier_news a img {
    transform: rotate(-45deg);
    height: 20px;
    width: 20px;
}

.conteiner_sobre {
    display: flex;
    justify-content: space-between;
    padding: 10rem;
}

.conteiner_sob_texto {
    padding: 0.9rem 8rem 0.9rem 0rem;
    text-align: left;
    font-style: normal;
}

.conteiner_sob_img img {
    height: 460px;
    width: 640px;
    display: block;
    margin-left: auto ; 
    margin-right: 0;
}

.conteiner_sob_texto p{
    font-size: 48px;
    font-family: "Inter", sans-serif;
    font-weight: bold;
}

.conteiner_sob_texto h3 {
    font-family: "Public Sans Web", sans-serif;
    font-weight: lighter;
}

.conteiner_espaco img {
    width: 100%;
    height: 70vh; 
    object-fit: cover;
    display: auto;
}

.text_espace h1{
    color: black;
    font-size: 80px;
    font-family: sans-serif;
    width: 40%;

}

.conteiner_explorar {
    width: 100%;
    position: relative; 
}


.image-container {
    position: relative;
    width: 100%;
    height: 70vh; 
    overflow: hidden;
}

.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 1;
    position: absolute; 
    top: 0;
    left: 0;
    transition: opacity 3s ease-in-out;
}

.image.active {
    opacity: 1;
    z-index: 1;
}

.conteiner_espaco {
    background-image: url('images/galax.png');
    width: 100%;
    height: 100%;
    background-size: cover;

}

.text_espace {
    font-family: "Public Sans Web", sans-serif;
    color: white;
    margin: 0px 98px;
    padding: 48px 32px;
}

.conteiner_espaco h1 {
    font-family: "Public Sans Web", sans-serif;
    color: white;
}

#sign_up_space {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

#sign_up_space img {
    margin: 10px;
    width: 20px;
    height: 20px;
    border-radius: 50%;

}

#sign_up_space span {
    font-family: "Public Sans Web", sans-serif;
    font-weight: bold;
    font-size: 25px;
}

#sign_up_space {
    padding: 16px 0px;
}

.text_espace p{
    padding: 1rem 0;

}

.container_footer {
    padding: 56px 24px;

}

.logo_footer {
    margin: 0px 227.5px;
}
.logo_footer img {
    width: 64px;
    height: 53.52px;
}

.container_footer_grid {
    color: white;
}

.hds_footer {
    display: grid;
    
}

#footer_id_join {
    font-family: "Inter", sans-serif;
    font-weight: bolder;
    display: inline-flex;
    align-content: center;
    font-size: 2rem;
}
    
#footer_id_join img {
    border-radius: 50%;
    width: 20px;
    height: 20px;
}